<div class="navbar navbar-inverse navbar-fixed-top">
	<h2>Dice Game</h2>
</div>


<p>
	<img class='dice' src='<%= @diceURL+@dice.first.to_s+".png" %>'>
	<img class='dice' src='<%= @diceURL+@dice.last.to_s+".png" %>'>
</p>
<h3>You rolled a <%= @sum %></h3>

<p>
	Your goal is <%= session[:goal] %><br>
	Try to get <%= session[:goal] %> before you get a 7<br><br>
	<button type="button" class="btn btn-default">
		<a href="roll_n">Roll again</a>
	</button>
</p>

