<!DOCTYPE html>
<html>
<head>
  <title>Dice Game</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  
  <%= stylesheet_link_tag  'bootstrap.min', 'http://fonts.googleapis.com/css?family=Lato:700italic', 'styles' %>
  <!-- To ensure proper rendering and touch zooming for mobile users -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
<%= yield %>
</div>

</body>
</html>
